__pycache__/
*.pyc
.venv/
venv/
.env

config/credentials.json
data/*.xlsx
data/*.xls
data/*.csv

*.log
logs/

build/
dist/
*.spec
playwright-browsers/
packaging/dist-installer/
config/gui_settings.json
